*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	background: #f0f0f0;
	font: 14px/20px Arial, Sans-Serif;
	color:#555;
	margin: 0; 
	height: 100%;
}
p{
	padding: 1%;
	text-align: justify;
}
img{
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: #fff;
	text-decoration: underline;
}
header{
	background: #405580;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90;
}
#logo{
	margin: 20px;
	float: left;
	width: 100px;
	height: 60px;
}

/*Navigation style*/
nav{
	float: right;
	padding: 25px 20px 20px 0;
}
ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	float: left;
	padding: 10px;
}

/*Style for top image*/
#img{
	margin: 0 auto;
	max-width: 100%;
}
.separator {
    clear: both;
    height: 10px;
}

/*Style for sections*/
section{
	padding-top: 86px;
	text-align: center;
}

/*Footer style*/
footer{
	width: 100%;
	height: 50px;
	background: #333333;
	overflow: hidden;
	opacity: 0.90;
}

.dev {
	margin: 15px;
	float: left;
	width: 300px;
}

/* Modal window */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}

/* Close button */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}

/* Layout */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

/* Activation layer dimming and modal block*/
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

/* elements of a modal window */
.modal-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}

/* Buttons */
.btn, .delete {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    min-width: 60px;
    position: relative;
}
.btn:hover, .btn:focus {
    background: #f2f2f2;
}
.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

/* Elements of form contacts */
.textbox{
    height:45px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-size:14px; 
    padding:8px;
    margin-bottom:20px;  
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}
.message{
	background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:14px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}

/* Elements style */
.car{
    padding: 2px;
    margin: 0 auto;
    width: 90%;
    float: center;
    text-align: center;
    border: 3px solid #405580;
    border-radius: 15px;
}
.car h3{
    padding: 15px;
    font-size: 40px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1;    
    margin: 0;
}
.car h4{
    padding: 15px;
    font-size: 25px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
.hide{
    display: none;
}